<a href="https://colab.research.google.com/github/JoseGonzalez2023/Ejercicio/blob/main/Analisis_exploratorio_price_house.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1 DESCRIPCIÓN DEL PROBLEMA**

## **Importar Librerias**

In [ ]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## **Importación de Datos**

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/JoseGonzalez2023/Price-House/main/train.csv")

In [ ]:
df.shape #la dimensión de la base de datos, 1460 viviendas y 81 variables, datos para entrenar el modelo#

(1460, 81)

## **Importar datos de prueba**

In [ ]:
df_test=pd.read_csv("https://raw.githubusercontent.com/JoseGonzalez2023/Price-House/main/test.csv") #llamar a datos de prueba, base no tiene el precio viviendas#

In [ ]:
df_test.shape #tiene menos variables, ya que debemos encontrar el valor del precio#

(1459, 80)

# **Diccionario de variables**
Campos de información
Aquí hay una versión breve de lo que encontrará en el archivo de descripción de datos.

* SalePrice : el precio de venta de la propiedad en dólares. Esta es la variable objetivo que está tratando de predecir.
* MSSubClass : la clase de construcción
* MSZoning : la clasificación general de zonificación
* LotFrontage : pies lineales de calle conectados a la propiedad
* LotArea : Tamaño del lote en pies cuadrados
* Calle : Tipo de acceso por carretera
* Callejón : Tipo de acceso al callejón
* LotShape : forma general de la propiedad
* LandContour : Planitud de la propiedad
* Utilidades : tipo de utilidades disponibles
* LotConfig : configuración del lote
* LandSlope : Pendiente de la propiedad
* Vecindario : ubicaciones físicas dentro de los límites de la ciudad de Ames
* Condition1 : Proximidad a la carretera principal o al ferrocarril
* Condición 2 : Proximidad a la carretera principal o al ferrocarril (si hay un segundo)
* BldgType : Tipo de vivienda
* HouseStyle : estilo de vivienda
* OverallQual : Material general y calidad de acabado.
* OverallCond : Calificación de estado general
* Año de construcción: fecha de construcción original
* YearRemodAdd : fecha de remodelación
* RoofStyle : Tipo de techo
* RoofMatl : material del techo
* Exterior1st : Revestimiento exterior de la casa
* Exterior2nd : Revestimiento exterior de la casa (si hay más de un material)
* MasVnrType : tipo de chapa de mampostería
* MasVnrArea : Área de revestimiento de mampostería en pies cuadrados
* ExterQual : Calidad del material exterior
* ExterCond : Estado actual del material en el exterior
* Fundación : Tipo de fundación
* BsmtQual : Altura del sótano
* BsmtCond : Estado general del sótano
* BsmtExposure : Paredes de sótano a nivel de jardín o de salida
* BsmtFinType1 : Calidad del área terminada del sótano
* BsmtFinSF1 : pies cuadrados terminados tipo 1
* BsmtFinType2 : Calidad de la segunda área terminada (si está presente)
* BsmtFinSF2 : pies cuadrados con acabado tipo 2
* BsmtUnfSF : pies cuadrados sin terminar de área del sótano
* TotalBsmtSF : Total de pies cuadrados de área del sótano
* Calefacción : Tipo de calefacción
* Calefacción QC : calidad y estado de la calefacción
* CentralAir : aire acondicionado central
* Eléctrico : sistema eléctrico
* 1stFlrSF : pies cuadrados del primer piso
* 2ndFlrSF : pies cuadrados del segundo piso
* LowQualFinSF : pies cuadrados con acabado de baja calidad (todos los pisos)
* GrLivArea : pies cuadrados de área habitable sobre el nivel (suelo)
* BsmtFullBath : Baños completos en el sótano
* BsmtHalfBath : Medios baños del sótano
* FullBath : baños completos sobre rasante
* HalfBath : Medios baños sobre el nivel del suelo
* Dormitorio : número de dormitorios sobre el nivel del sótano
* Cocina : Número de cocinas
* KitchenQual : calidad de la cocina
* TotRmsAbvGrd : Total de habitaciones sobre rasante (no incluye baños)
* Funcional : clasificación de funcionalidad del hogar
* Chimeneas : Número de chimeneas
* FireplaceQu : Calidad de chimenea
* GarageType : Ubicación del garaje
* GarageYrBlt : año en que se construyó el garaje
* GarageFinish : Acabado interior del garaje
* GarageCars : Tamaño del garaje en capacidad de automóvil
* GarageArea : Tamaño del garaje en pies cuadrados
* GarageQual : Calidad de garaje
* GarageCond : Estado del garaje
* PavedDrive : entrada pavimentada
* WoodDeckSF : Área de la plataforma de madera en pies cuadrados
* OpenPorchSF : Área de porche abierto en pies cuadrados
* Porche cerrado : área de porche cerrado en pies cuadrados
* 3SsnPorch : área de porche de tres estaciones en pies cuadrados
* ScreenPorch : Área del porche de la pantalla en pies cuadrados
* PoolArea : Área de la piscina en pies cuadrados
* PoolQC : Calidad de la piscina
* Valla : calidad de la valla
* MiscFeature : característica miscelánea no cubierta en otras categorías
* MiscVal : $ Valor de la función miscelánea
* MoSold : Mes vendido
* YrSold : año vendido
* SaleType : Tipo de venta
* SaleCondition : Condición de venta

# **Depuración**

In [ ]:
dimension=df.shape
dimension

(1460, 81)

In [ ]:
## Vamos a identificar las variables que se tienen ##
variables=df.columns.to_list()
variables

['Id',
 'MSSubClass',
 'MSZoning',
 'LotFrontage',
 'LotArea',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition',
 'SalePrice']

In [ ]:
variables[0]  ##acceder a la primera lista de variables##

'Id'

In [ ]:
variables[80]  ##acceder a la última lista de variables##

'SalePrice'

In [ ]:
variables[-1] ##acceder a la última lista de variables##

'SalePrice'

In [ ]:
variables[-2]

'SaleCondition'

In [ ]:
variables[-3]

'SaleType'

In [ ]:
df["SalePrice"]  ##selecciono el contenido de una variable##

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [ ]:
df[["SalePrice", "Id", "SaleCondition"]]  ## de esta forma de selecciona 2 o más variables##

      SalePrice    Id SaleCondition
0        208500     1        Normal
1        181500     2        Normal
2        223500     3        Normal
3        140000     4       Abnorml
4        250000     5        Normal
...         ...   ...           ...
1455     175000  1456        Normal
1456     210000  1457        Normal
1457     266500  1458        Normal
1458     142125  1459        Normal
1459     147500  1460        Normal

[1460 rows x 3 columns]

In [ ]:
df.iloc[:,[0,1,2,80]]  ##Buscar dentro de la base de datos selecionamos todas las filas y las columnas que nos interesa por posición##

        Id  MSSubClass MSZoning  SalePrice
0        1          60       RL     208500
1        2          20       RL     181500
2        3          60       RL     223500
3        4          70       RL     140000
4        5          60       RL     250000
...    ...         ...      ...        ...
1455  1456          60       RL     175000
1456  1457          20       RL     210000
1457  1458          70       RL     266500
1458  1459          20       RL     142125
1459  1460          20       RL     147500

[1460 rows x 4 columns]

In [ ]:
df.iloc[[0,1,80,100],[0,1,2,80]] ##Seleccionamos las filas 0, 1 80 y 100 y con las columnas 0,1, 2 y 80##

      Id  MSSubClass MSZoning  SalePrice
0      1          60       RL     208500
1      2          20       RL     181500
80    81          60       RL     193500
100  101          20       RL     205000

In [ ]:
df.iloc[[0,1,80,100],:]  ##seleccionamos 4 filas

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
80,81,60,RL,100.0,13000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,WD,Normal,193500
100,101,20,RL,NaN,10603,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2010,WD,Normal,205000

In [ ]:
df[variables[0]] ##acceder a la información de las columnas de la tabla por medio de una lista construid, se accede a la primera variablew##

0          1
1          2
2          3
3          4
4          5
        ...
1455    1456
1456    1457
1457    1458
1458    1459
1459    1460
Name: Id, Length: 1460, dtype: int64

In [ ]:
df[variables[80]]  ##acceder a la última variable de la lista##

0       208500
1       181500
2       223500
3       140000
4       250000
         ...
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [ ]:
df[variables[2]].isnull().sum() ##acceder a la cantidad de variables nulas##

0

## **Automatizamos el proceso de calculos repetitivos**
Un bucle for en Python es una estructura de control que se utiliza para iterar a través de una secuencia de elementos, como una lista, una tupla, un conjunto o una cadena. La sintaxis básica de un bucle for en Python es la siguiente:

In [ ]:
for i in variables : ##Acceder a la lista con un for##
  print(i)

Id
MSSubClass
MSZoning
LotFrontage
LotArea
Street
Alley
LotShape
LandContour
Utilities
LotConfig
LandSlope
Neighborhood
Condition1
Condition2
BldgType
HouseStyle
OverallQual
OverallCond
YearBuilt
YearRemodAdd
RoofStyle
RoofMatl
Exterior1st
Exterior2nd
MasVnrType
MasVnrArea
ExterQual
ExterCond
Foundation
BsmtQual
BsmtCond
BsmtExposure
BsmtFinType1
BsmtFinSF1
BsmtFinType2
BsmtFinSF2
BsmtUnfSF
TotalBsmtSF
Heating
HeatingQC
CentralAir
Electrical
1stFlrSF
2ndFlrSF
LowQualFinSF
GrLivArea
BsmtFullBath
BsmtHalfBath
FullBath
HalfBath
BedroomAbvGr
KitchenAbvGr
KitchenQual
TotRmsAbvGrd
Functional
Fireplaces
FireplaceQu
GarageType
GarageYrBlt
GarageFinish
GarageCars
GarageArea
GarageQual
GarageCond
PavedDrive
WoodDeckSF
OpenPorchSF
EnclosedPorch
3SsnPorch
ScreenPorch
PoolArea
PoolQC
Fence
MiscFeature
MiscVal
MoSold
YrSold
SaleType
SaleCondition
SalePrice

In [ ]:
## Vamos a crear una función para identificar datos nulos ##
## Las funciones en Python nos permiten crear un bloque se cógico utilizable que hace una tarea específica, los que nos permite llamar a auna función 
## las veces que las necesitemos solo con llamarla, las funciones en Python las creamos con la función def, luego a continuación se debe escribir el 
## nombre de la variable y nunca debe comenzar con números, y luego entre parentesis se escribe los paremtros del codigo que se necesita## 


## Ejemplo, vamos a crear una función que sume 2 numeros ##
def sumar_dos_numeros(x,y):
  resultado=x+y
  return resultado

In [ ]:
sumar_dos_numeros(0.5,0.5)

1.0

In [ ]:
def identificar_datos_nulos(df):
  variables=df.columns.tolist()
  nulos=[] 
  for i in variables:  
    nulos.append(df[i].isnull().sum())
  tabla=pd.DataFrame({"variables":variables,"valores nulos":nulos})
  tabla["porcentaje de nulos"]=tabla["valores nulos"]/len(df)*100
  return tabla.sort_values("valores nulos",ascending=False)

In [ ]:
nulos=[] ## Vamos a guardar en esta lista vacía los valores nulos de cada variable, cada vez que el FOR está interando por cada una de las variables, se elimana Print
for i in variables : ##Acceder a la lista con un for##
  print(df[i].isnull().sum())
  nulos.append(df[i].isnull().sum())  ## se va guardando la informaciómn en la lista de nulos cada vez que se itera

0
0
0
259
0
0
1369
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
8
8
0
0
0
37
37
38
37
0
38
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
690
81
81
81
0
0
81
81
0
0
0
0
0
0
0
1453
1179
1406
0
0
0
0
0
0

In [ ]:
nulos ##Se muestra los valores nulos##

[0,
 0,
 0,
 259,
 0,
 0,
 1369,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 8,
 8,
 0,
 0,
 0,
 37,
 37,
 38,
 37,
 0,
 38,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 690,
 81,
 81,
 81,
 0,
 0,
 81,
 81,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1453,
 1179,
 1406,
 0,
 0,
 0,
 0,
 0,
 0]

In [ ]:
tabla=pd.DataFrame({"variables":variables,"valores nulos":nulos}) ##creamos una tabla con pandas pd, utizamos DataFrame y entre parentesis se agregan el dicccionario con llaves de las columnas que queremos agregar.

In [ ]:
tabla=tabla.sort_values("valores nulos",ascending=False) ##La tabla muestra ordenado de mayor a menor las variables de valores nulos

In [ ]:
tabla

      variables  valores nulos
72       PoolQC           1453
74  MiscFeature           1406
6         Alley           1369
73        Fence           1179
57  FireplaceQu            690
..          ...            ...
27    ExterQual              0
24  Exterior2nd              0
23  Exterior1st              0
22     RoofMatl              0
80    SalePrice              0

[81 rows x 2 columns]

In [ ]:
##vamos a crear el vector de nulos##

tabla["porcentaje de nulos"]=tabla["valores nulos"]/len(df)*100
tabla

      variables  valores nulos  porcentaje de nulos
72       PoolQC           1453            99.520548
74  MiscFeature           1406            96.301370
6         Alley           1369            93.767123
73        Fence           1179            80.753425
57  FireplaceQu            690            47.260274
..          ...            ...                  ...
27    ExterQual              0             0.000000
24  Exterior2nd              0             0.000000
23  Exterior1st              0             0.000000
22     RoofMatl              0             0.000000
80    SalePrice              0             0.000000

[81 rows x 3 columns]

In [ ]:
##identificamos las variables que tienen más de 60% que tengan variables nulos##
nulas_a_eliminar=tabla[tabla["porcentaje de nulos"]>=60]["variables"].to_list()
nulas_a_eliminar

['PoolQC', 'MiscFeature', 'Alley', 'Fence']

In [ ]:
##Eliminamos de esta base de datos estas variables##
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
##vamos a eliminar las columnas##
df.drop(columns=nulas_a_eliminar,inplace=True)

In [ ]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [ ]:
## Vamos a llenar los datos vacios que quedaron al eliminar datos ##
identificar_datos_nulos(df)

       variables  valores nulos  porcentaje de nulos
56   FireplaceQu            690            47.260274
3    LotFrontage            259            17.739726
57    GarageType             81             5.547945
58   GarageYrBlt             81             5.547945
59  GarageFinish             81             5.547945
..           ...            ...                  ...
36     BsmtUnfSF              0             0.000000
37   TotalBsmtSF              0             0.000000
1     MSSubClass              0             0.000000
39     HeatingQC              0             0.000000
76     SalePrice              0             0.000000

[77 rows x 3 columns]

## **Imputación de datos**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 77 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   LotShape       1460 non-null   object
 7   LandContour    1460 non-null   object
 8   Utilities      1460 non-null   object
 9   LotConfig      1460 non-null   object
 10  LandSlope      1460 non-null   object
 11  Neighborhood   1460 non-null   object
 12  Condition1     1460 non-null   object
 13  Condition2     1460 non-null   object
 14  BldgType       1460 non-null   object
 15  HouseStyle     1460 non-null   object
 16  OverallQual    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  YearBuilt      1460 non-null   int64
 19  YearRemodAdd   1460 non-null   int64
 20  RoofStyle      1460 non-null   object
 21  RoofMatl       1460 non-null   object
 22  Exterior1st    1460 non-null   object
 23  Exterior2nd    1460 non-null   object
 24  MasVnrType     1452 non-null   object
 25  MasVnrArea     1452 non-null   float64
 26  ExterQual      1460 non-null   object
 27  ExterCond      1460 non-null   object
 28  Foundation     1460 non-null   object
 29  BsmtQual       1423 non-null   object
 30  BsmtCond       1423 non-null   object
 31  BsmtExposure   1422 non-null   object
 32  BsmtFinType1   1423 non-null   object
 33  BsmtFinSF1     1460 non-null   int64
 34  BsmtFinType2   1422 non-null   object
 35  BsmtFinSF2     1460 non-null   int64
 36  BsmtUnfSF      1460 non-null   int64
 37  TotalBsmtSF    1460 non-null   int64
 38  Heating        1460 non-null   object
 39  HeatingQC      1460 non-null   object
 40  CentralAir     1460 non-null   object
 41  Electrical     1459 non-null   object
 42  1stFlrSF       1460 non-null   int64
 43  2ndFlrSF       1460 non-null   int64
 44  LowQualFinSF   1460 non-null   int64
 45  GrLivArea      1460 non-null   int64
 46  BsmtFullBath   1460 non-null   int64
 47  BsmtHalfBath   1460 non-null   int64
 48  FullBath       1460 non-null   int64
 49  HalfBath       1460 non-null   int64
 50  BedroomAbvGr   1460 non-null   int64
 51  KitchenAbvGr   1460 non-null   int64
 52  KitchenQual    1460 non-null   object
 53  TotRmsAbvGrd   1460 non-null   int64
 54  Functional     1460 non-null   object
 55  Fireplaces     1460 non-null   int64
 56  FireplaceQu    770 non-null    object
 57  GarageType     1379 non-null   object
 58  GarageYrBlt    1379 non-null   float64
 59  GarageFinish   1379 non-null   object
 60  GarageCars     1460 non-null   int64
 61  GarageArea     1460 non-null   int64
 62  GarageQual     1379 non-null   object
 63  GarageCond     1379 non-null   object
 64  PavedDrive     1460 non-null   object
 65  WoodDeckSF     1460 non-null   int64
 66  OpenPorchSF    1460 non-null   int64
 67  EnclosedPorch  1460 non-null   int64
 68  3SsnPorch      1460 non-null   int64
 69  ScreenPorch    1460 non-null   int64
 70  PoolArea       1460 non-null   int64
 71  MiscVal        1460 non-null   int64
 72  MoSold         1460 non-null   int64
 73  YrSold         1460 non-null   int64
 74  SaleType       1460 non-null   object
 75  SaleCondition  1460 non-null   object
 76  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(39)
memory usage: 878.4+ KB

In [ ]:
df["BsmtCond"].value_counts() ##la variable puede tomar esos 4 estados" TA=humedad ligera, Gd=regular, Fa = regular, Po=pobre y Gd=bueno-. Esta vareiable esta errada, ya 
## no es un objeto (es un texto), esto es una variable categorica"

TA    1311
Gd      65
Fa      45
Po       2
Name: BsmtCond, dtype: int64